<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User {{ user['id'] }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="display-4">User {{ user['id'] }}</h1>
        <table class="table-sm">
            <tbody>
                <tr>
                    <td>Full Name</td>
                    <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user['email'] }}</td>
                </tr>
                <tr>
                    <td>Created At</td>
                    <td>{{ user['created_at'] }}</td>
                </tr>
                <tr>
                    <td>Updated At</td>
                    <td>{{ user['updated_at'] }}</td>
                </tr>
            </tbody>
        </table>
        <a href="/users/{{user['id']}}/edit" class="badge badge-secondary">Edit</a>
        <a href="/users/{{user['id']}}/delete" class="badge badge-danger">Delete</a>
        <a href="/users" role="button" class="badge badge-info">Go Back</a>
    </div>
</body>

</html>