django/favorite_books/.vscode/
/.vscode/
flask-mysql/private-wall/.vscode/
flask-mysql/private-wall/__pycache__/
django-fun/hello-world/djangoPy3Env/
web-fund/blocks/
mean/express/cats-data/node_modules
mean/express/cats-data/package-lock.json
mean/api/birthday/node_modules
mean/angular/hello-angular/node_modules
mean/angular/routing/mongoose-dashboard/node_modules