<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Favorite Books</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
                    Welcome, {{session['greeting']}}<a href="/logout" role="button" class="btn btn-sm btn-info ml-2 text-white">Logout</a>
                </span>
            </div>
        </div>
    </nav><!-- /NAVBAR -->

    <div class="container">
        <div class="row">
            <div class="col-6 px-2">
                <h3>{{book['title']}}</h3>
                <p>Added by: {{book['first_name']}} {{book['last_name']}}</p>
                <p>Added on: {{book['created_at']}}</p>
                <p>Last Updated on: {{book['updated_at']}}</p>
               {% if book['creator'] != session['user_id'] %}
                <p>Description: {{book['description']}}</p>
                {% else %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color: red; font-size: .8em;">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="/books/{{book['id']}}/update" method="post">
                    <label for="description">Description</label>
                    <input name="description" class="form-control w-50" placeholder="{{book['description']}}">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="/books/{{book['id']}}/delete" role="button" class="btn btn-danger">Delete</a>
                </form>
                {% endif %}
            </div>
            <div class="col-6 px-2">
                <h3>Users Who Favorited the Book</h3>
                <ul>
                    {% for fav in favorites %}
                        <li>{{fav['first_name']}} {{fav['last_name']}}</li>
                    {% endfor %}
                </ul>
                {% if is_favorited == False %}
                    <a href="/favorite/{{book['id']}}" role="button" class="btn btn-warning">Add to Favorites</a>
                {% else %}
                    <a href="/unfavorite/{{book['id']}}" role="button" class="btn btn-warning">Remove From Favorites</a>
                {%endif %}
            </div>
        </div>
    </div>
</body>

</html>